
div.overlay-router {
  background-image:url(images/white.png);
  width:800px;
  height:600px;		
  display:none;
  padding:55px; 
  overflow: hidden;
  /*z-index: 200000;*/
}

div.overlay-router div.close {
  background-image:url(images/close.png); 
  position:absolute; 
  right:5px; 
  top:5px; 
  cursor:pointer; 
  height:35px; 
  width:35px; 
}
  
