.olControlAttribution   { bottom:  2px!important } 
.olControlMousePosition { left: 8px!important } 

div#network-map .popup { 
  color: white;
}
div#network-map a { color: orange; }
div#network-map a:link { color: orange; }
div#network-map a:visited { color: orange; }
div#network-map a:active { color: orange; }
div#network-map a:hover { color: orange; }

div#network-map .popup #ip { 
  color: orange;
  font-size: 125%;
  font-weight: bold;
}
div#network-map .popup #mac { 
  color: darkgray;
  font-size: 75%;
  font-style: italic;
}
div#network-map .popup #health { 
  color: green;
}
div#network-map .popup #message { 
  color: white;
}
div#network-map .popup #neighbours { 
  color: yellow;
  font-size: 125%
  margin-bottom: 50px;
  margin-top: 50px;
}

div#network-map .popup #neighbours table, tr, td { 
  font-size: 90%;
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
 
}


