
div.overlay-router {
  background: white;
	width:600px;
	height:470px;		
	display:none;
	padding:55px;
}

div.overlay-router div.close {
	background-image:url(../img/overlay/close.png);
	position:absolute;
	right:5px;
	top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}

