Source: villagetelco-dashboard
Section: net
Priority: optional
Maintainer: Antoine van Gelder <antoine@7degrees.co.za>
Build-Depends: makeself, json-c-dev, uci-dev, libcredis-dev, snmp, libsnmp-dev, debhelper (>= 5)
Standards-Version: 3.7.3
Homepage: http://villagetelco.org

Package: villagetelco-dashboard
Architecture: any
Depends: apache2, batmand, snmp, wget, pmacct, libcredis, redis-server, ${shlibs:Depends}, ${misc:Depends}
Description: The VillageTelco Dashboard
 VillageTelco is an easy-to-use, scalable, standards-based, wireless,
 local, do-it-yourself, telephone company toolkit.