/*
 * We're working with bitmaps here so all sizes need to be absolute, in pixels 
 * 
 * TODO: It really would be nice to rewrite this whole structure to be 
 *       scalable.
 */


/* - drawers -------------------------------------------------------------- */
.drawers {
  /*margin-bottom:15px;  
  color:#76797C;
  font-size:11px;
  line-height: 18px;*/
}


/* - layout wrapper ------------------------------------------------------- */
.drawers-wrapper {
  position: relative;
  width: 138px; /* 188 */
  min-height: 350px;
}


/* - top & bottom --------------------------------------------------------- */
.drawers-top, .drawers-bottom {
  background: url("images/caps_narrow.gif") no-repeat;
  height:4px;
  width:100%;
  z-index:100;
}

.drawers-top {
  position:absolute;
  background-position: 0 -4px;
}

.drawers-bottom {
  margin-top: -4px;
}


/* - individual drawer styling -------------------------------------------- */
.drawer {
  background:transparent url(images/sideboxlight_bg.gif) repeat-y scroll 0pt;
  font-size:11px;
  /*color:#76797C;*/
  /*line-height:1.3em;*/
}

.drawer-handle {
  /*background:#939393 url(images/slider_handlebg.png) no-repeat scroll 0pt;*/
  background-color:#c0c0c0;
  /*color:#333;*/
  cursor:default;
  height:25px;
  line-height:25px;
  text-indent:15px;
  font-size:12px;
  /*width:100%;*/
}
h2.drawer-handle {
  padding: 0;
}

.drawer-handle.open {
  background-color:#72839D;
  /*background-position:-188px 0pt;*/
  color:#FFFFFF;
}


/* - magic ---------------------------------------------------------------- */
/*h2.drawer-handle span {
}*/

.drawer ul {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
}

.drawer li {
  border-bottom:1px solid #E5E5E5;
  line-height:16px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.drawer-content ul {
  /*padding-top: 7px;*/
}

.drawer-content li a {
  /*display:block;
  overflow:hidden;*/
}

.drawers a {
  color:#666;
  text-decoration:none;
}

.drawers a.todo {
  color: lightgray;
  font-style: italic;
}


