.olControlAttribution   { top:  2px!important } 
.olControlMousePosition { left: 8px!important } 

div#network-map a { color: orange; }
div#network-map a:link { color: orange; }
div#network-map a:visited { color: orange; }
div#network-map a:active { color: orange; }
div#network-map a:hover { color: orange; }

div#network-map.message {
  font-size: 1.25em;
  border: 1px dashed gray;
  text-align: center;
}

div#network-map .popup { 
  color: white;
  margin:0px;
  padding:0px;
}
div#network-map .popup #address { 
 margin-bottom: 5px;
}
div#network-map .popup #ip { 
  color: orange;
  font-size: 1.2em;
  font-weight: bold;
}
div#network-map .popup #mac { 
  color: darkgray;
  font-size: 0.75em;
  font-style: italic;
}
div#network-map .popup #health { 
  color: green;
  margin-bottom: 5px;   
}
div#network-map .popup #traffic { 
  margin-bottom: 5px;   
}
div#network-map .popup #bytes { 
  color: darkgray;
  font-size: 0.75em;
}
div#network-map .popup #neighbours { 
  color: yellow;
  font-size: 1.1em;
}
div#network-map .popup #neighbours table, tr, td { 
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
  padding: 0px;
  padding-top: 2px;
}

div#network-map-legend {
  position       : absolute; 
  bottom         : 5px; 
  right          : 5px;
  background     : #d0d0d0; 
  color          : white;
  padding        : 10px; margin: 0px;
  z-index        : 10000;
  opacity        : 0.7;
  filter         : alpha(opacity=60);
  -moz-opacity   : 0.7;
  -khtml-opacity : 0.7;
  border-radius  : 10px;
  -webkit-border-radius : 10px;
  -moz-border-radius    : 10px;
  -opera-border-radius  : 10px;
}
